<!DOCTYPE html>
<html lang="en">

<head>
	<title>Add Book</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/form.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="/navbar.css">
</head>

<body id="body">
	<%- include("partials/nav")%>
	<div class='container'>
    <div class="page-wrapper bg-gra-01 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Add Book</h2>
                    <form action="/book/new" method="POST" enctype="multipart/form-data">
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Name" name="book[name]" required autocomplete="off">
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Author" name="book[author]" required autocomplete="off">
                        </div>
						<div class="input-group">
						    <p class="heading">Cover Image</p>
						    <div class="image-options">
						    	<label class=" label" for="l_image">Image Link</label><input type="radio" value="image_link" id="l_image" name="image_option" class="radio-button" checked>
							    <label class=" label" for="f_image">Upload File</label><input type="radio" value="image_file" id="f_image" name="image_option" class="radio-button">
						    </div>
				            <input type="file" id="image_file" name="image" accept="image/*" required class="hidden">
						    <input type="text" name="book[image]" class="input--style-3" id="image_url" placeholder="Image URL" required autocomplete="off">
						</div>
	                     <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="book[genre]" class="form-control form-control-">
								  <option value="fiction">Fiction</option>
							      <option value="adventure">Adventure</option>
							      <option value="romance">Romance</option>
							      <option value="horror">Horror</option>
							      <option value="fantasy">Fantasy</option>
							      <option value="other">Other</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
	                     </div>
	                    <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Quantity" name="book[quantity]" required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Book ID" name="book[libId]" required>
                        </div>
                        <div class="p-t-10">
                            <button class="btn1 btn--pill btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
		function viewPassword()
		{	
			$("#password-input").toggleClass("hidden");
			if(!$("#password-input").hasClass("hidden")){
				$("#password-input").attr("type", "text");
				$("#pass-status").toggleClass("fa-eye");
				$("#pass-status").toggleClass("fa-eye-slash");
			}
			if($("#password-input").hasClass("hidden")){
				$("#password-input").attr("type", "password");
				$("#pass-status").toggleClass("fa-eye");
				$("#pass-status").toggleClass("fa-eye-slash");
			}
		}
		$('input').click(function(){
			if ($("#l_image").is(':checked')) {
				$("#image_url").removeClass("hidden");
				$("#image_file").removeAttr("required");
			} else {
				$("#image_url").addClass("hidden");
			}
			if ($("#f_image").is(':checked')) {
				$("#image_file").removeClass("hidden");
				$("#image_url").removeAttr("required");
				$("#image_url").val("");
			} else {
				$("#image_file").addClass("hidden");
			}
		});
</script>
</body>
</html>