<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/verified.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Verified!</title>
</head>
<body id="body">
	<%- include("partials/nav")%>
	<div class="container">
		<h1 class="display-4 mb-3">Congratulations! <i class="fas fa-smile-wink wink"></i></h1>
		<h1 class="display-6 mb-3">You are now a verified <i class="fas fa-check-circle tick"></i> user.</h1>
		<a href="/login">Click here to login!</a>
	</div>
</body>
</html>